<!DOCTYPE html>
<html>
<head>
  <title>sms statistic</title>
  <link href="bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
  <link href="bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="bower/essage/src/essage.css" rel="stylesheet">
  <style type="text/css">
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 6px;
  }
  .btn-group {
    margin-right: 12px;
  }
  .form-login {
    width: 680px;
    margin: auto;
  }
  .essage {
    position: fixed;
    z-index: 10010;
    top: -200px;
    left: 50%;
    max-width: 300px;
    line-height: 22px;
    margin-left: -150px;
    background: #fff;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
    font-size: 15px;
    box-shadow: 0 7px 21px rgba(0,0,0,.1);
    -webkit-transition: top 600ms ease;
    transition: top 600ms ease;
  }
  .reconciliation-table {
    width:500px;
    margin: 20px auto;
  }
  .reconciliation-table td, .reconciliation-table th {
    text-align: center;
  }
  .w200 {
    width:200px;
  }
  .agent-table th, .place-table th {
    text-align: right;
  }
  .agent-table td, .place-table td {
    text-align: left;
  }
  #timeForm {
    margin: 10px 0;
  }
  </style>
</head>
<body>
<script src="tmp/static/js/lib.js"></script>
<script src="tmp/static/js/app.js"></script>
<script data-main="js/main.js" src="bower/requirejs/require.js"></script>
</body>
</html>