<div class="row">
  <nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse">
      <div class="navbar-header" style="min-width: 250px;">
        <a class="navbar-brand route" href="javascript:;" data-url="/places">松松呗共享网络科技</a>
      </div>
      <% if(isLogin){ %>
      <ul class="nav navbar-nav navbar-right">
        <% if(isRoot){ %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户管理 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;" class="route" data-url="/usersCreate">创建用户</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:;" class="route" data-url="/users">用户列表</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/api/logout">退出登陆</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">场地管理 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;" class="route" data-url="/placesCreate">创建场地</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:;" class="route" data-url="/places">场地列表</a></li>
            <li><a href="javascript:;" class="route" data-url="/places/detail">场地详情</a></li>
            <li><a href="javascript:;" class="route" data-url="/typesCreate">创建类型</a></li>
            <li><a href="javascript:;" class="route" data-url="/typesEdit">编辑类型</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">设备管理 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;" class="route" data-url="/devicesCreate">创建设备</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:;" class="route" data-url="/devices">设备列表</a></li>
          </ul>
        </li>
        <li><a class="route" href="javascript:;" data-url="/orders">订单管理</a></li>
        <% }else if(isAgent){ %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账户管理 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;" class="route" data-url="/usersEdit">个人信息</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/api/logout">退出登陆</a></li>
          </ul>
        </li>
        <li><a href="javascript:;" class="route" data-url="/places">场地列表</a></li>
        <li><a class="route" href="javascript:;" data-url="/devices">设备管理</a></li>
        <li><a class="route" href="javascript:;" data-url="/reconciliation">对账</a></li>
        <% }else if (isPlace){ %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账户管理 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;" class="route" data-url="/usersEdit">个人信息</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/api/logout">退出登陆</a></li>
          </ul>
        </li>
        <li><a class="route" href="javascript:;" data-url="/reconciliation">对账</a></li>
        <% } else if (isServer) { %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账户管理 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:;" class="route" data-url="/usersEdit">个人信息</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/api/logout">退出登陆</a></li>
          </ul>
        </li>
        <li><a class="route" href="javascript:;" data-url="/orders">订单</a></li>
        <% } %>
      </ul>
      <% } %>
    </div>
</nav>
</div>
<div class="row">
  <div id="mainSection" style="width:80%;margin:auto;">
  </div>
</div>
