
<%if (isDetail) {%>
<form class="form-inline" id="timeForm" onsubmit="return false">
  <div class="form-group">
    <label>时间区间:</label>
    <input data-provide="datepicker" class="form-control" name="startDate" />
    ~
    <input data-provide="datepicker" class="form-control" name="endDate" />
  </div>
  <input class="btn btn-primary" type="submit" value="区间查询">
</form>
<%}%>
<div id="seletorContainer"></div>
<table id="placesTable"></table>

